@font-face {
    font-family: poppins-bold;
    src: url(Font_files/poppins.bold.ttf);
}

@font-face {
    font-family: poppins-regular;
    src: url(Font_files/poppins.regular.ttf);
}

@font-face {
    font-family: poppins-semibold;
    src: url(Font_files/poppins.semibold.ttf);
}