*{-webkit-tap-highlight-color: transparent;}

body 
{
    display:flex;
    flex-direction: column;
    margin:0;
    width: 100%;
    background-color: #edf4fe;
    font-size: 0;
}

.mob_topbar
{
    display:flex;
    width:100%;
    height:200px;
    margin:0;
    background-image: url(Pictures/index_body_bg2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 0%;
}

.mob_main 
{
    display:flex;
    flex-direction: column;
    width:340px;
    height: 450px;
    margin:0px auto 0px auto;
    border-radius: 10px;
    position: relative;
    bottom:70px;
    background-color: white;
    box-shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.heading , .desc
{
    display:flex;
    font-size:26px;
    font-family: poppins-semibold;
    color:black;
    margin:20px auto 0px 25px;
}

.desc 
{
    font-size: 13px;
    color:rgba(0, 0, 0, 0.3);
    font-family: poppins-regular;
    margin-top: 0;
}

.prev_next 
{
    display:flex;
    width:100%;
    margin:auto 0px 0px 0px;
}

.prev_next div:nth-child(1) , .prev_next div:nth-child(2)
{
    display:flex;
    padding:10px 15px 10px 15px;
    border-radius: 5px;
    margin:0px auto 20px 25px;
    background-color: rgba(27,27,175);
    cursor: pointer;
    user-select: none;
}

.prev_next div:nth-child(1):hover 
{
    background-color: rgb(15, 15, 125);
}

.prev_next div:nth-child(2)
{
    margin:0px 25px 20px auto;
    background-color: blueviolet;
}

.prev_next div:nth-child(2):hover 
{
    background-color: rgb(97, 30, 159);
}

.prev_next div p 
{
    display:flex;
    margin:auto 0px auto 0px;
    font-size:11px;
    font-family: poppins-semibold;
    color:white;
}

.prev_next div svg 
{
    display:flex;
    width:15px;
    margin:0;
    fill:white;
}

.prev_next div svg:nth-child(2)
{
    margin-left: 10px;
}

.mob_form , .pc_form
{
    display: flex;
    flex-direction: column;
    width:100%;
    margin:10px 0px 0px 0px;
}

.label 
{
    display: flex;
    font-size: 13px;
    font-family: poppins-semibold;
    color: rgb(18, 18, 148);
    margin: 20px auto 0px 25px;
}

.mob_form input , .pc_form input
{
    display: flex;
    width: 270px;
    padding-left: 15px;
    height: 30px;
    border-radius: 5px;
    margin: 5px auto 0px 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-family: poppins-regular;
    color: #022959;
    transition: 0.5s;
}

.mob_form input:focus , .pc_form input:focus
{
    outline:1px solid blueviolet;
    box-shadow:0 4px 8px 0 rgba(137, 43, 226, 0.1), 0 6px 20px 0 rgba(137, 43, 226, 0.1);
    transition: 0.5s;
}

.mob_form input::placeholder , .pc_form input::placeholder
{
    color:rgba(0, 0, 0, 0.3);
    font-size: 11px;
}

.mob_form svg  , .pc_form svg
{
    display:flex;
    height: 17px;
    margin:0px 35px 0px auto;
    position: relative;
    bottom:25px;
    cursor: pointer;
    fill:rgb(0, 7, 111);
}

.reg 
{
    display:flex;
    margin:10px auto 0px auto;
    font-size:12px;
    font-family:poppins-regular;
    color:black;
}

.reg a 
{
    display:flex;
    margin:0px 0px 0px 5px;
    text-decoration: underline;
    color:blue;
}

.error 
{
    display: none;
    font-size:10px;
    color:red;
    font-family: poppins-italic-light;
    margin: 0px auto 0px 25px;
}

.pc_main
{
    display:none;
}

@media screen and (min-width:830px)
{
    .mob_topbar , .mob_main 
    {
        display:none;
    }

    .pc_main
    {
        display:flex;
        width:700px;
        height:430px;
        margin:60px auto 0px auto;
        background-color:white;
        border-radius: 10px;
        box-shadow:rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    }

    .left 
    {
        display:flex;
        width:200px;
        margin:10px 0px 10px 10px;
        background-image: url(Pictures/index_body_bg3.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 0%;
        border-radius: 10px;
    }

    .left p 
    {
        display:flex;
        margin:auto;
        font-size:40px;
        font-family: poppins-italic-semibold;
        color:rgb(18, 18, 148);
    }

    .right 
    {
        display:flex;
        flex-direction: column;
        margin:10px;
        width:470px;
    }

    .heading , .desc
    {
        margin-top:30px;
        margin-left: 50px;
    }

    .desc
    {
        margin-top: 0px;
        font-size: 12px;
    }

    .pc_form 
    {
        margin-left: 60px;
        margin-top: 10px;
    }

    .pc_form svg 
    {
        margin-right: 165px;
    }

    .reg 
    {
        margin-left:65px;
        margin-top: 0;
    }

    .prev_next div:nth-child(1)
    {
        margin-left: 40px;
    }
}